* {
  box-sizing: border-box;
}

.theme_forfait_complet {
  background-color: #f8f8f8;
  color: #585858;
}

.text_rabais {
  text-decoration: line-through;
}

.arrow_icon {
  font-size: 3em;
}

// DISPLAY

.d_flex {
  display: flex;
  flex-wrap: wrap;
  //flex-wrap helps with grid display
}
.justify_content_center {
  justify-content: center;
}
.align_items_center {
  align-items: center;
}

.col_1 {
  margin: 1%;
  width: calc(8% - 2%);
}
.col_2 {
  margin: 1%;
  width: calc(17% - 2%);
}

.col_4 {
  margin: 1%;
  width: calc(33% - 2%);
}
.col_5 {
  margin: 1%;
  width: calc(42% - 2%);
}

.col_6 {
  margin: 1%;
  width: calc(42% - 2%);
}

.col_7 {
  margin: 1%;
  width: calc(50% - 2%);
}

.col_8 {
  margin: 1%;
  width: calc(66% - 2%);
}
.col_10 {
  margin: 1%;
  width: calc(83% - 2%);
}
.margin_1 {
  margin: 1em;
}
