<div class="d_flex justify_content_center">
  <div class="col_4" *ngFor="let forfait of forfaits">
    <ng-template [ngIf]="forfait.vedette">
      <mat-card>
        <div class="d_flex align_items_center">
          <!-- Carte Header -->
          <div class="col_7">
            <mat-card-header>
              <mat-card-subtitle
                >{{ forfait.destination }} de {{ forfait.villeDepart }}
              </mat-card-subtitle>
              <mat-card-title>
                {{ forfait.hotel.nom }}
              </mat-card-title>

              <!-- Affichage nombre d'étoiles -->
              <mat-card-title [ngSwitch]="forfait.hotel.nombreEtoiles">
                <!-- 5* -->
                <div *ngSwitchCase="5">
                  <app-etoiles></app-etoiles>
                  <app-etoiles></app-etoiles>
                  <app-etoiles></app-etoiles>
                  <app-etoiles></app-etoiles>
                  <app-etoiles></app-etoiles>
                </div>
                <!-- 4* -->
                <div *ngSwitchCase="4">
                  <app-etoiles></app-etoiles>
                  <app-etoiles></app-etoiles>
                  <app-etoiles></app-etoiles>
                  <app-etoiles></app-etoiles>
                </div>
                <!-- 3* -->
                <div *ngSwitchCase="3">
                  <app-etoiles></app-etoiles>
                  <app-etoiles></app-etoiles>
                  <app-etoiles></app-etoiles>
                </div>
                <!-- 2* -->
                <div *ngSwitchCase="2">
                  <app-etoiles></app-etoiles>
                  <app-etoiles></app-etoiles>
                </div>
                <!-- 1* -->
                <div *ngSwitchCase="1">
                  <app-etoiles></app-etoiles>
                </div>
              </mat-card-title>
            </mat-card-header>
          </div>

          <div class="col_5">
            <mat-card-title>{{ forfait.prix }} $</mat-card-title>
            <mat-card-content>Taxes et frais inclus</mat-card-content>
            <!--  -->
            <mat-card-content
              >{{ forfait.dateDepart.toLocaleDateString("en-US") }},
              {{ forfait.duree }} JOURS
            </mat-card-content>
          </div>
          
          <div class="col-1">
            <mat-icon class="arrow_icon">keyboard_arrow_right</mat-icon>
          </div>
        </div>
      </mat-card>
    </ng-template>
  </div>
</div>
